body {
  background-color: #d2f9d2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #36413e;
}

h1, h2, h3 {
  font-weight: bold;
  color: #10232a;
}

a {
  color: #10232a;
  text-decoration: none;
}

a:hover {
  color: #55868c;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #10232a;
  box-shadow: 0px 0px 10px #10232a;
  border-radius: 10px;
}

.button {
  background-color: #10232a;
  color: #d2f9d2;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: #55868c;
}
